In [4]:
import pandas as pd
import numpy as np

In [2]:
dtypes = ['int64', 'float64', 'complex128', 'object', 'bool']

In [5]:
data = dict([(t, np.ones(shape=5000, dtype=int).astype(t))
             for t in dtypes])

In [6]:
data

{'int64': array([1, 1, 1, ..., 1, 1, 1], dtype=int64),
 'float64': array([1., 1., 1., ..., 1., 1., 1.]),
 'complex128': array([1.+0.j, 1.+0.j, 1.+0.j, ..., 1.+0.j, 1.+0.j, 1.+0.j]),
 'object': array([1, 1, 1, ..., 1, 1, 1], dtype=object),
 'bool': array([ True,  True,  True, ...,  True,  True,  True])}

In [7]:
df = pd.DataFrame(data)

In [8]:
df.head()

   int64  float64  complex128 object  bool
0      1      1.0    1.0+0.0j      1  True
1      1      1.0    1.0+0.0j      1  True
2      1      1.0    1.0+0.0j      1  True
3      1      1.0    1.0+0.0j      1  True
4      1      1.0    1.0+0.0j      1  True

In [9]:
df.memory_usage()

Index           128
int64         40000
float64       40000
complex128    80000
object        40000
bool           5000
dtype: int64

In [10]:
df.memory_usage(index=False)

int64         40000
float64       40000
complex128    80000
object        40000
bool           5000
dtype: int64

In [11]:
df.memory_usage(index=True)

Index           128
int64         40000
float64       40000
complex128    80000
object        40000
bool           5000
dtype: int64

In [12]:
df.memory_usage(deep=True)

Index            128
int64          40000
float64        40000
complex128     80000
object        180000
bool            5000
dtype: int64

In [13]:
df.memory_usage(deep=False)

Index           128
int64         40000
float64       40000
complex128    80000
object        40000
bool           5000
dtype: int64

In [14]:
df['object'].astype('category').memory_usage(deep=True)

5244

In [15]:
df['object'].astype('category').memory_usage(deep=False)

5244